<div class="page">
  <div class="incident-detail">
    <div class="incident-detail__info">
      <div class="content">
        <h1 class="page__title">Cobro incorrecto</h1>
        <div class="chips">
          <mat-chip [ngClass]="chipInfo['created'].cssClass">
            <span class="material-symbols-outlined">
              {{ chipInfo['created'].icon }}
            </span>
            {{ chipInfo['created'].text }}
          </mat-chip>
        </div>
        <p>
          La diferencia entre el tartar y la carne molida mal cocinada radica en cómo se maneja y
          prepara cada una. Origen de las bacterias: Las bacterias como E. coli o Salmonella suelen
          estar en la superficie de la carne. Al hacer carne molida, toda la superficie, incluida la
          que puede estar contaminada, se mezcla con el resto, distribuyendo las bacterias por toda
          la carne. Si esta carne molida no se cocina adecuadamente, las bacterias no se eliminan,
          lo que aumenta el riesgo de intoxicación. Tartar: El steak tartar, en cambio, se hace con
          cortes de carne de alta calidad y frescos que son preparados y manipulados con mucho
          cuidado para minimizar el riesgo de contaminación. Además, los chefs suelen cortar la
          carne en el momento de servirla, reduciendo las posibilidades de que las bacterias se
          multipliquen. Por esto, el riesgo es mucho menor. Control de calidad y frescura: La carne
          usada en tartar generalmente se obtiene de fuentes controladas y es de alta calidad. La
          preparación y manipulación cuidadosa en lugares especializados también contribuye a la
          seguridad.
        </p>
        <hr />
        <div class="incident-history">
          <h3 i18n="@@incidentHistory">RESPUESTAS</h3>
        </div>
      </div>
    </div>
    <div class="incident-detail__general-info">
      <h2 i18n="@@generalInformation">Información general</h2>
      <div class="info-section">
        <p>Creado por</p>
        <p>Maria Aristizabal</p>
        <p>maria&#64;empresa.com</p>
      </div>
      <div class="info-section">
        <p>Reportado por</p>
        <p>Maria Aristizabal</p>
        <p>maria&#64;empresa.com</p>
      </div>
      <div class="info-section">
        <p>Fecha radicado</p>
        <p>11 de septiembre del 2024</p>
      </div>
    </div>
  </div>
</div>
