// Import color variables
@import 'src/colors.scss';

// Define primary color variables for reuse
$primary-color: $blue-500;
$primary-hover: $blue-400;
$background-light: $blue-50;
$grey-light: #6b6b6b;
$grey-dark: #424242;
$highlight-blue: #4267b2;

// General container styling
.container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-light;
  padding-top: 3rem;
}

// Card styling
.card {
  background-color: white;
  padding: 40px 2rem 2rem;
  border-radius: 20px;
  text-align: center;
  max-width: 600px;
  width: 100%;
  margin: 0px 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

// Main price styling
.price {
  font-weight: bold;
  color: $highlight-blue;
  text-align: center;
}

.price-value {
  display: block;
  font-size: 4rem;
  color: $highlight-blue;
  font-weight: 400;
  padding-bottom: 2rem;
}

// Detailed price and description styling
.price-detail {
  display: block;
  color: $grey-dark;
  font-weight: 300;
}

ul.price-detail {
  margin: 0.5rem 0;
}

.text-detail {
  display: block;
  color: $grey-dark;
  font-weight: 400;
  padding-right: 0.5rem;
}

// Custom line styling
.custom-line {
  border-top: 1px solid $primary-hover;
  margin: 1rem 0;
  width: 100%;
}

// Optional: Consistent padding for nested lists
ul.plan-details,
ul.incident-details {
  padding-left: 20px;
  list-style-type: none;
  margin: 0;
}

.section {
  text-align: left;
}

.text-section-date {
  display: flex;
  padding: 0.5rem 0;
}

.text-section {
  padding: 0.5rem 0;
}

.color-price {
  color: $highlight-blue;
  font-weight: 500;
}

.list-detail {
  display: block;
  color: $grey-dark;
  font-size: 0.9rem;
  font-weight: 300;
}

.plan-name {
  font-weight: 400;
}
