<div class="page">
  <div class="page__container">
    <div class="page__header">
      <h1 class="page__title" i18n="@@InvoiceDetailTitle">Consultar factura</h1>
    </div>
    <p i18n="@@InvoiceDescriptionTitle">
      En consultar factura, podrás ver el resumen detallado de tu factura actual, incluyendo el
      costo base de tu plan seleccionado y los cargos adicionales por incidentes registrados.
    </p>

    <div class="container">
      <div class="card">
        <div class="price">
          <span class="price-value">{{ invoice.total_cost | number: '1.2-2' }}</span>
          <span class="price-detail" i18n="@@totalMonthAccumulated">
            Total acumulado (hasta el día de hoy)
          </span>
          <div class="custom-line"></div>

          <div class="section">
            <div class="text-section-date">
              <span class="text-detail" i18n="@@billingPeriod"> Periodo de facturación: </span>
              <span class="price-detail">
                {{ invoice.billing_month }} {{ invoice.billing_year }}
              </span>
            </div>

            <div class="text-section-date">
              <span class="text-detail" i18n="@@dueDate"> Fecha límite de pago: </span>
              <span class="price-detail">{{ invoice.due_date | date: 'dd/MM/yyyy' }}</span>
            </div>

            <div class="text-section">
              <span class="text-detail" i18n="@@baseCost"> Costo Base del plan: </span>
              <ul class="price-detail">
                <li>
                  {{ invoice.client_plan }} :
                  <span class="color-price">{{ invoice.fixed_cost | number: '1.2-2' }}</span>
                </li>
              </ul>
            </div>

            <div class="text-section">
              <span class="text-detail" i18n="@@incidentCosts">
                Acumulado por incidentes registrados:
              </span>

              <ul class="price-detail">
                <li>
                  <div class="text-section-date">
                    <span class="list-detail" i18n="@@webIncidents">
                      Incidentes registrados por aplicación web: {{ invoice.total_incidents.web }} x
                      {{ invoice.unit_cost_per_incident.web | currency }} =
                    </span>
                    <span class="color-price">{{
                      invoice.total_cost_per_incident.web | number: '1.2-2'
                    }}</span>
                  </div>
                </li>
                <li>
                  <div class="text-section-date">
                    <span class="list-detail" i18n="@@mobileIncidents">
                      Incidentes registrados por aplicación móvil:
                      {{ invoice.total_incidents.mobile }} x
                      {{ invoice.unit_cost_per_incident.mobile | currency }} =
                    </span>
                    <span class="color-price">{{
                      invoice.total_cost_per_incident.mobile | number: '1.2-2'
                    }}</span>
                  </div>
                </li>
                <li>
                  <div class="text-section-date">
                    <span class="list-detail" i18n="@@emailIncidents">
                      Incidentes registrados por correo: {{ invoice.total_incidents.email }} x
                      {{ invoice.unit_cost_per_incident.email | currency }} =
                    </span>
                    <span class="color-price">{{
                      invoice.total_cost_per_incident.email | number: '1.2-2'
                    }}</span>
                  </div>
                </li>
                <li>
                  <div class="text-section-date">
                    <span class="list-detail" i18n="@@totalIncidents">
                      Subtotal de Incidentes:
                    </span>
                    <span class="color-price">{{
                      invoice.total_cost - invoice.fixed_cost | number: '1.2-2'
                    }}</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
