<!-- eslint-disable @angular-eslint/template/i18n -->
<!-- eslint-disable @angular-eslint/template/attributes-order -->
<div class="employees-list page__table">
  <table mat-table [dataSource]="employeesList">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef i18n="@@name">Nombre</th>
      <td mat-cell *matCellDef="let employee">{{ employee.name }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef i18n="@@email">Correo</th>
      <td mat-cell *matCellDef="let employee">{{ employee.email }}</td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef i18n="@@role">Rol</th>
      <td mat-cell *matCellDef="let employee">{{ employeeRole[employee.role] }}</td>
    </ng-container>

    <ng-container matColumnDef="invitationStatus">
      <th mat-header-cell *matHeaderCellDef i18n="@@invitationStatus">Estado Invitación</th>
      <td mat-cell *matCellDef="let employee">
        <mat-chip [ngClass]="chipInfo[employee.invitationStatus].cssClass">
          <span class="material-symbols-outlined">
            {{ chipInfo[employee.invitationStatus].icon }}
          </span>
          {{ chipInfo[employee.invitationStatus].text }}
        </mat-chip>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    aria-label="Select page"
    [length]="totalEmployees"
    [pageSizeOptions]="[5, 10, 20]" />
</div>
