<div class="Container_popup">
  <h2 i18n="@@ChangeStatus">Cambiar estado</h2>
  <div class="custom-line"></div>
  <form [formGroup]="statusForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="full-width listStatus">
      <mat-label i18n="@@NewStatus">Selecciona el nuevo estado</mat-label>
      <mat-select formControlName="status">
        <mat-option value="escalated" i18n="@@Escalado">Escalado</mat-option>
        <mat-option value="closed" i18n="@@Cerrado">Cerrado</mat-option>
      </mat-select>
    </mat-form-field>

    <p i18n="@@messageAnswer" class="messageAnswer">
      Ingresa un comentario explicando el cambio de estado. Este aparecerá en la sección de
      RESPUESTAS del incidente y será visible para el cliente que haya reportado el incidente.
    </p>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label i18n="@@comment">Comentario</mat-label>
      <textarea
        matInput
        formControlName="comment"
        placeholder="Explica el cambio de estado"
        i18n-placeholder="@@CommentPlaceholder"></textarea>
    </mat-form-field>

    <div class="button-group-status">
      <button mat-button type="button" (click)="onCancel()" i18n="@@CancelButtonStatus">
        Cancelar
      </button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="button_change"
        i18n="@@ChangeButtonStatus">
        Cambiar
      </button>
    </div>
  </form>
</div>
