@import './src/colors.scss';

// Aplicamos la paleta personalizada

$grey-600: #6b6b6b;
$blue-800: #1c2b4a;
@import './src/colors.scss';

// Aplicamos la paleta personalizada

$grey-600: #6b6b6b;
$blue-800: #1c2b4a;

h2 {
  font-size: 22px !important;
  color: $blue-800 !important;
  font-weight: bold;
  float: left;
  width: 80%;
}

mat-form-field {
  width: 100%;
}

.dialog-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

button {
  font-size: 0.95rem;
}

button[mat-button] {
  color: #4267b2;
  margin-right: 15px;
  padding: 20px;
  border: 1px solid #4267b2;
  background-color: none;
}

button[mat-raised-button] {
  background-color: #4267b2; /* Primary blue */
  color: white;
  padding: 20px;
}

button[mat-raised-button]:hover {
  background-color: #3b7bfc; /* Darker blue on hover */
}

.full-width {
  width: 100%;
}

.invite-user-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

  float: right;
}
.invite-actions {
  float: right;
}

.custom-line {
  border-top: 1px solid #c7d0e2;
  width: 100%;
  display: flex;
  margin-bottom: 15px;
}
#cdk-overlay-0 {
  width: 461px;
}

.close-button {
  color: #5a667f;
  float: right;
  font-size: 16px;
  margin-right: 20px;
}

.close-button:hover {
  font-weight: 900;
  cursor: pointer;
}

.invite-user-container-confirm {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 400px;
}

.buttonCancel:hover {
  background-color: #acc8ff;
  color: white;
  min-width: 100px;
}

.buttonCancel {
  border: 1px solid #4267b2;
  background: none;
  margin-right: 25px;
  min-width: 100px;
}

.incident-list {
  &__header {
    display: flex;
    justify-content: end;
    padding: 1.5rem 0;
  }

  .no-incidents-message {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}

.mat-mdc-icon-button {
  color: $blue-500;
}

.horizontal-spacer {
  padding: 0 0.5rem;
}

.mdc-button {
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 64px;
  border: none;
  outline: none;
  line-height: inherit;
  -webkit-appearance: none;
  overflow: visible;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0);
  padding: 0 8px;
}

.full-width {
  width: 100%;
}

.button-group-status {
  display: flex;
  margin-top: 20px;
  float: right;
}

.Container_popup {
  padding: 20px;
}

.button_change {
  color: var(--mdc-filled-button-label-text-color, var(--mat-app-on-primary));
  background-color: var(--mdc-filled-button-container-color, var(--mat-app-primary));
}

.mat-mdc-text-field-wrapper {
  background: none !important;
}

.messageAnswer {
  color: $blue-800;
  font-size: 16px;
  margin-bottom: 16px !important;
}

p {
  font-size: 16px;
  color: $blue-800;
  margin-bottom: 16px !important;
}
