<mat-toolbar color="primary">
  <div class="logo-container">
    <img src="assets/images/logo.png" alt="Logo" i18n-alt class="logo" />
  </div>
  <span class="spacer"></span>

  <div class="center-buttons">
    @if (isAdmin()) {
      <a i18n="@@companyManagement" mat-button routerLink="incidents"> Gestión empresa </a>
      <a i18n="@@dashboard" mat-button routerLink="/dashboards">Tableros de control</a>
      <a i18n="@@dashboard" mat-button routerLink="/dashboards">Facturación</a>
    }

    @if (isAgent()) {
      <a i18n="@@dashboard" mat-button routerLink="/incidents"> Gestión de incidentes</a>
    }

    @if (isAnalyst()) {
      <a i18n="@@dashboard" mat-button routerLink="/dashboards"> Tableros de control</a>
    }
  </div>
  <span class="spacer"></span>

  <div class="right-buttons">
    <button i18n="@@myAccount" mat-button routerLink="/my-account">Mi cuenta</button>
    <button i18n="@@logout" mat-button (click)="logout()">Cerrar sesión</button>
  </div>
</mat-toolbar>
