<div class="page">
  <div class="page__container">
    <div class="page__header">
      <h1 class="page__title" i18n="@@incidentManagement">Gestión incidentes</h1>
      <span class="page__description" i18n="@@incidentManagementPageDescription">
        En <em>Gestionar incidentes</em>, podrás
        <strong class="page__description--strong"
          >ver y seguir fácilmente el estado de todas las incidencias asignadas a tu nombre.</strong
        >
        Además, tendrás la opción de
        <strong class="page__description--strong">crear nuevas incidencias</strong> de manera rápida
        y eficiente.
      </span>
    </div>

    <div class="incident-list__header">
      <button mat-flat-button type="button" i18n="@@createIncident">Crear incidente</button>
    </div>

    <div class="incident-list page__table">
      @if (incidentsList.data.length > 0) {
        <table mat-table [dataSource]="incidentsList">
          <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell i18n="@@name">Nombre</th>
            <td *matCellDef="let incident" mat-cell>{{ incident.name }}</td>
          </ng-container>

          <ng-container matColumnDef="user">
            <th *matHeaderCellDef mat-header-cell i18n="@@user">Usuario</th>
            <td *matCellDef="let incident" mat-cell>{{ incident.user }}</td>
          </ng-container>

          <ng-container matColumnDef="dateFiling">
            <th *matHeaderCellDef mat-header-cell i18n="@@dateFiling">Fecha radicación</th>
            <td *matCellDef="let incident" mat-cell>
              {{ incident.filingDate | date: 'longDate' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th *matHeaderCellDef mat-header-cell i18n="@@incidentStatus">Estado</th>
            <td *matCellDef="let incident" mat-cell>
              <mat-chip [ngClass]="chipInfo[incident.status].cssClass">
                <span class="material-symbols-outlined">
                  {{ chipInfo[incident.status].icon }}
                </span>
                {{ chipInfo[incident.status].text }}
              </mat-chip>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th *matHeaderCellDef mat-header-cell i18n="@@actions">Acciones</th>
            <td *matCellDef="let incident" mat-cell>
              <button
                mat-icon-button
                type="button"
                aria-label="Ver incidente"
                i18n-aria-label="@@viewIncident"
                (click)="showDetail(incident.id)">
                <!-- eslint-disable-next-line @angular-eslint/template/i18n -->
                <span class="material-symbols-outlined">visibility</span>
              </button>
              <span class="horizontal-spacer"></span>
              <button
                mat-icon-button
                type="button"
                aria-label="Cambiar estado de incidente"
                i18n-aria-label="@@changeStateIncident"
                (click)="openChangeStatusDialog(incident.id)">
                <!-- eslint-disable-next-line @angular-eslint/template/i18n -->
                <span class="material-symbols-outlined">cached</span>
              </button>
            </td>
          </ng-container>

          <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
          <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
        </table>
      } @else if (incidentsList.data.length === 0) {
        <div class="no-incidents-message" i18n="@@emptyIncidentList">
          No tienes incidentes asignados
        </div>
      } @else {
        <div></div>
      }
      <!-- eslint-disable-next-line @angular-eslint/template/no-inline-styles -->
      <mat-paginator
        aria-label="Seleccionar página"
        i18n-aria-label="@@selectPage"
        [style.display]="incidentsList.data.length > 0 ? null : 'none'"
        [length]="totalIncidents"
        [pageSizeOptions]="[5, 10, 20]" />
    </div>
  </div>
</div>
