<div class="page">
  <div class="page__container">
    <div class="page__header">
      <h1 class="page__title" i18n="@@incidentCreate">Crear incidente</h1>
    </div>

    <div class="incident-container">
      <div class="incident-card">
        <form id="form-client-register" [formGroup]="incidenteForm" (ngSubmit)="onSubmit()">
          <span i18n="@@emailReportIncident">Proporciona una descipción clara del problema</span>
          <br /><br />
          <mat-form-field appearance="outline" class="full-width">
            <input
              id="email"
              matInput
              formControlName="email"
              type="text"
              required
              placeholder="Correo del cliente que reportar el incidente"
              i18n-placeholder="@@clientEmailReportIncidentPrefix" />

            @if (email.invalid && (email.dirty || email.touched)) {
              <mat-error>
                @if (email.errors?.['required']) {
                  <span i18n="@@clientRegisterErrorRequired">Este campo es obligatorio.</span>
                }

                @if (email.errors?.['maxlength']) {
                  <span i18n="@@clientRegisterErrorTooLong60"
                    >Este campo no puede superar los 60 caracteres.</span
                  >
                }
              </mat-error>
            }
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width inputEmail">
            <input
              id="name"
              matInput
              formControlName="name"
              type="text"
              required
              placeholder="Nombre incidente"
              i18n-placeholder="@@nameIncident" />

            @if (name.invalid && (name.dirty || name.touched)) {
              <mat-error>
                @if (name.errors?.['required']) {
                  <span i18n="@@clientRegisterErrorRequired">Este campo es obligatorio.</span>
                }
                @if (name.errors?.['maxlength']) {
                  <span i18n="@@clientRegisterErrorTooLong60"
                    >Este campo no puede superar los 60 caracteres.</span
                  >
                }
              </mat-error>
            }
          </mat-form-field>

          <div class="mat-divider">
            <mat-form-field appearance="outline" class="full-width">
              <textarea
                id="description"
                matInput
                formControlName="description"
                type="text"
                required
                placeholder="Descipción"
                i18n-placeholder="@@nameIncident"></textarea>

              @if (description.invalid && (description.dirty || description.touched)) {
                <mat-error>
                  @if (description.errors?.['required']) {
                    <span i18n="@@clientRegisterErrorRequired">Este campo es obligatorio.</span>
                  }
                  @if (description.errors?.['maxlength']) {
                    <span i18n="@@clientRegisterErrorTooLong60"
                      >Este campo no puede superar los 2000 caracteres.</span
                    >
                  }
                </mat-error>
              }
            </mat-form-field>
          </div>

          <div class="container">
            <button
              type="submit"
              mat-flat-button
              class="register-button mat-body-large"
              i18n="@@createIncidentButtonSubmit">
              Crear Incidente
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
