<div class="invite-user-container">
  <h1 class="Texth2" i18n="@@invite_title">
    Desea aceptar la invitacion para asociarse a una compañia?
  </h1>
  <div class="invite-user-container">
    <button
      type="button"
      class="Accept"
      mat-button
      data-testid="accept-button"
      (click)="onConfirm()"
      i18n="@@accept_button">
      Acceptar
    </button>
    <button
      type="button"
      class="Decline"
      mat-button
      data-testid="decline-button"
      (click)="onDecline()"
      i18n="@@cancel_button">
      Cancelar
    </button>
  </div>
</div>
