<h2 mat-dialog-title i18n="@@invitationConfirmTitle">Aceptar invitación</h2>
<mat-divider />
<mat-dialog-content i18n="@@invitationConfirmText">
  ¿Desea aceptar la invitación para asociarse a la empresa {{ companyName }}?
</mat-dialog-content>
<mat-dialog-actions>
  <button
    mat-stroked-button
    type="button"
    class="Decline"
    (click)="onDecline()"
    i18n="@@invitationConfirmReject">
    Rechazar
  </button>
  <button mat-flat-button type="button" (click)="onConfirm()" i18n="@@invitationConfirmAccept">
    Aceptar
  </button>
</mat-dialog-actions>
