@import 'src/styles.scss';

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  position: relative;
  background-color: white;
  padding: 80px 2rem 2rem 2rem;
  border-radius: 8px;
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.logo-container {
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  width: 185px;
  height: 160px;
}

.logo {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 185px;
  height: 160px;
  background-image: url('/assets/images/LogoABCall.png');
}

.logo-background {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  background: white;
  border-radius: 50%;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.25));
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem;

  .mat-form-field-appearance-outline .mat-form-field-outline {
    stroke: $blue-500;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    stroke: $blue-500;
  }

  .mat-form-field-label {
    color: $blue-500;
  }
}

.login-button {
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
  background-color: $blue-500 !important;
  color: white !important;
}

.login-button:hover {
  background-color: $blue-300 !important;
}

.register-link {
  margin-top: 1rem;
  font-size: 0.875rem;
  color: $blue-800;
}
