@import 'src/styles.scss';

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $blue-50;
}

.login-card {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.logo {
  width: 100px;
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 2rem;
  font-weight: 500;
  font-size: 1.5rem;
  color: $blue-800;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem;

  .mat-form-field-appearance-outline .mat-form-field-outline {
    stroke: $blue-500;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    stroke: $blue-500;
  }

  .mat-form-field-label {
    color: $blue-500;
  }
}

.login-button {
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
  background-color: $blue-500 !important;
  color: white !important;
}
.login-button:hover {
  background-color: $blue-300 !important;
}
.register-link {
  margin-top: 1rem;
  font-size: 0.875rem;
  color: $blue-800;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.login-card {
  position: relative;
  padding-top: 100px;
  text-align: center;
}

.login-card img {
  position: absolute;
  top: -63px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: auto;
}
