<div class="row py-4">
  <div class="col d-flex justify-content-center">
    <img src="/src/assets/images/logo.png" alt="Logo" />
  </div>
</div>

<div class="row">
  <div class="col d-flex justify-content-center">
    <form id="form-login">
      <div class="mb-3">
        <label for="username" class="form-label">Usuario</label>
        <input type="username" class="form-control" id="email" placeholder="Ingresa tu Usuario" />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <div class="input-group">
          <input
            type="{{ showPassword ? 'text' : 'password' }}"
            class="form-control"
            id="password"
            placeholder="Ingresa tu contraseña" />
        </div>
      </div>
      <div class="pb-3"></div>
      <button type="submit" routerLink="/alarms" class="btn btn-primary">Ingresar</button>
      <div class="d-flex justify-content-center pt-4">
        <a id="register" routerLink="/register"
          >¿Todavía no tienes cuenta? <span style="font-weight: 500">Registrate</span></a
        >
      </div>
    </form>
  </div>
</div>
