<div class="login-container">
  <div class="login-card">
    <div class="logo-container">
      <span class="logo-background"></span><span class="logo"></span>
    </div>
    <h2 class="mat-headline-medium" i18n="@@tituloLogin">Ingresa a tu cuenta</h2>

    <form id="form-login">
      <mat-form-field appearance="outline" class="full-width" i18n-ignore>
        <mat-label i18n="@@correoLabel">Correo</mat-label>
        <input
          #username
          matInput
          type="email"
          placeholder="Ingresa tu correo"
          i18n-placeholder="@@correoPlaceholder:Texto para el campo de correo" />
        @if (errorUsername) {
          <mat-error>{{ errorUsername }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width" i18n-ignore>
        <mat-label i18n="@@contrasenaLabel">Contraseña</mat-label>
        <input
          #password
          matInput
          type="password"
          placeholder="Ingresa tu contraseña"
          i18n-placeholder="@@contrasenaPlaceholder:Texto para el campo de contraseña" />
        @if (errorPassword) {
          <mat-error>{{ errorPassword }}</mat-error>
        }
      </mat-form-field>
      <button
        type="button"
        mat-flat-button
        class="login-button"
        (click)="loginUser(username.value, password.value)"
        i18n="@@botonIngresar">
        Ingresar
      </button>
      <div class="register-link">
        <a mat-button class="register-link" routerLink="/register" i18n="@@linkRegistro"
          >¿Todavía no tienes cuenta? <strong>Regístrate</strong></a
        >
      </div>
    </form>
  </div>
</div>
