<div class="company-info">
  <ul class="company-info__list">
    <li class="company-info__item">
      <span class="material-symbols-outlined company-info__icon">business</span>
      <span class="company-info__text">Empresa S.A.S</span>
    </li>
    <li class="company-info__item">
      <span class="material-symbols-outlined company-info__icon">email</span>
      <span class="company-info__text">pqrs-empresa&#64;capibaras.io</span>
    </li>
    <li class="company-info__item">
      <span class="material-symbols-outlined company-info__icon">star</span>
      <span class="company-info__text">Plan Empresario</span>
      <a href="#" class="company-info__link">Cambiar</a>
    </li>
  </ul>
</div>
