// Primary colors
$blue-50: #ecf0f8;
$blue-100: #dae2f1;
$blue-200: #b5c4e3;
$blue-300: #8fa7d6;
$blue-400: #6a89c8;
$blue-500: #4267b2;
$blue-600: #375695;
$blue-700: #294170;
$blue-800: #1c2b4a;
$blue-900: #0e1625;
$blue-950: #070b13;

// Other colors
$amber-accent: #ffc107;
$red-warn: #ba1a1a;
$success: #218838;
$warning: #e0690a;
$chip-blue: $blue-500;
$neutral: #637984;
