@use '@angular/material' as mat;
@import 'src/colors.scss';
@import 'src/m3-theme.scss';

@include mat.core();

// Define the theme object.
$abcall-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: $_primary,
      tertiary: $_tertiary,
    ),
    typography: (
      plain-family: 'Fira Sans',
      brand-family: 'Fira Sans',
    ),
    density: (
      scale: 0,
    ),
  )
);

:root {
  @include mat.all-component-themes($abcall-theme);
  @include mat.typography-hierarchy($abcall-theme);
}

/* fira-sans-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../public/fonts/fira-sans-v17-latin-300.woff2') format('woff2');
}
/* fira-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/fira-sans-v17-latin-regular.woff2') format('woff2');
}
/* fira-sans-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../public/fonts/fira-sans-v17-latin-500.woff2') format('woff2');
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: $blue-50;
  color: $blue-800;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500 !important;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

router-outlet + * {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.page {
  display: flex;
  justify-content: center;
  width: 100%;
  &__container {
    max-width: 1280px;
    width: 100%;
    padding: 55px 24px;
  }

  &__header {
    padding-bottom: 32px;
    border-bottom: 1px solid $blue-500;
  }

  &__description {
    font-weight: 300;
    &--strong {
      font-weight: 400;
    }
  }

  h1.page__title {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 12px;
  }

  .mat-mdc-chip.page__chip {
    &--success {
      background-color: $success;
      box-shadow: 1px red solid;
      border: none;
    }
    &--warning {
      background-color: $warning;
    }
    &--blue {
      background-color: $chip-blue;
    }

    &--success,
    &--warning,
    &--blue {
      .mdc-evolution-chip__text-label {
        color: white;
        font-weight: 400;
      }
    }
  }

  &__link {
    color: $blue-800;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 500;

    &:hover {
      color: #0056b3;
    }
  }

  &__table {
    .mat-mdc-table {
      background-color: transparent;
      thead {
        background-color: $blue-500;
        .mat-mdc-header-cell {
          color: white;
          font-weight: 400;
        }
      }
      .mat-mdc-cell {
        color: $blue-700;
        font-weight: 300;
        border-bottom-color: $blue-500;
      }
    }

    .mat-mdc-paginator {
      background-color: transparent;
      .mat-mdc-paginator-page-size-label,
      .mat-mdc-paginator-range-label {
        font-size: 0.875rem;
        color: $blue-800;
      }
    }

    .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__text-label {
      display: flex;
      align-items: center;
      gap: 8px;
      .material-symbols-outlined {
        font-size: 1.125rem;
      }
    }
  }

  .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled)
    .mdc-evolution-chip__action--primary::before {
    border-color: transparent;
  }

  button {
    font-weight: 400;
  }
}

.success-snackbar.mat-mdc-snack-bar-container {
  .mat-mdc-snackbar-surface {
    background-color: $success;
  }
}

.error-snackbar.mat-mdc-snack-bar-container {
  .mat-mdc-snackbar-surface {
    background-color: $red-warn;
  }
}

.success-snackbar,
.error-snackbar {
  .mat-mdc-snackbar-surface,
  .mdc-button__label {
    color: white;
  }
}
.mat-mdc-dialog-component-host h1,
.mat-mdc-dialog-component-host P {
  font-size: 16px !important;
  color: $blue-800 !important;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
.mat-mdc-dialog-component-host {
  padding: 10px;
}

.mat-mdc-dialog-component-host .Accept {
  width: 100px;
  border: 1px solid #4267b2;
  margin-right: 25px;
  border-radius: 20px;
  padding: 10px;
  background-color: #4267b2;
  color: white;
  cursor: pointer;
}

.mat-mdc-dialog-component-host .Accept:hover {
  background-color: #3b7bfc;
  color: white;
}
.mat-mdc-dialog-component-host .Decline {
  width: 100px;
  border: 1px solid #4267b2;
  background: none;
  margin-right: 25px;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}
.mat-mdc-dialog-component-host .Decline:hover {
  background-color: #d2def7;
}

.invite-user-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
