@use '@angular/material' as mat;

@import 'src/colors.scss';

@include mat.core();

// Define the theme object.
$abcall-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: (
      brand-family: 'Fira Sans',
      bold-weight: 900,
    ),
    density: (
      scale: 0,
    ),
  )
);

:root {
  @include mat.all-component-themes($abcall-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($abcall-theme);

html,
body {
  height: 100%;
  font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
  background-color: $blue-50;
  margin: 0;
}

h2 {
  margin-bottom: 2rem;
  font-weight: 500;
  font-size: 1.5rem;
  color: $blue-800;
}

a {
  font-size: 16px;
  text-decoration: none;
}

.button {
  background-color: $blue-500;
  color: white;
}

.button:hover {
  background-color: $blue-200 !important;
  color: white;
}
