<div class="dialog-header">
  <h2 mat-dialog-title i18n="@@invitationEmployeeTitle">Invitar empleado</h2>
  <button type="button" mat-icon-button class="close-button" (click)="close()">
    <!-- eslint-disable-next-line @angular-eslint/template/i18n -->
    <span class="material-symbols-outlined">close</span>
  </button>
</div>
<mat-divider />
<form [formGroup]="inviteForm" (ngSubmit)="submit()">
  <mat-dialog-content>
    <p i18n="@@invitationEmployeeText">
      Ingresa el correo del empleado que quieres invitar, para hacer parte de la empresa
    </p>
    <mat-form-field appearance="outline">
      <input
        id="email"
        matInput
        formControlName="email"
        type="email"
        placeholder="Correo"
        i18n-placeholder="@@inviteEmailPlaceholder" />
      @if (email.invalid && (email.dirty || email.touched)) {
        <mat-error>
          @if (email.errors?.['required']) {
            <span i18n="@@employeeRegisterErrorRequired">Este campo es obligatorio.</span>
          }
          @if (email.errors?.['email']) {
            <span i18n="@@employeeRegisterErrorInvalidEmail"
              >Debe ser un correo electrónico válido</span
            >
          }
          @if (email.errors?.['maxlength']) {
            <span i18n="@@employeeRegisterErrorTooLong60"
              >Este campo no puede superar los 60 caracteres.</span
            >
          }
        </mat-error>
      }
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-stroked-button type="button" (click)="close()" i18n="@@invitationEmployeeCancel">
      Cancelar
    </button>
    <button mat-flat-button type="submit" i18n="@@invitationEmployeeInvitar">Invitar</button>
  </mat-dialog-actions>
</form>
