@import './src/colors.scss';

// Aplicamos la paleta personalizada

$grey-600: #6b6b6b;
$blue-800: #1c2b4a;

h2 {
  font-size: 22px !important;
  color: $blue-800 !important;
  font-weight: bold;
  float: left;
  width: 80%;
}

p {
  font-size: 16px;
  color: $blue-800;
  margin-bottom: 16px !important;
}

mat-form-field {
  width: 100%;
}

.dialog-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

button {
  font-size: 0.95rem;
}

button[mat-button] {
  color: #4267b2; /* Cancel button - Grey */
}

button[mat-raised-button] {
  background-color: #4267b2; /* Primary blue */
  color: white;
}

button[mat-raised-button]:hover {
  background-color: #3b7bfc; /* Darker blue on hover */
}

.full-width {
  width: 100%;
}

.invite-user-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.invite-actions {
  float: right;
}

.custom-line {
  border-top: 1px solid #c7d0e2;
  width: 100%;
  display: flex;
  margin-bottom: 15px;
}
#cdk-overlay-0 {
  width: 461px;
}

.buttonCancel {
  border: 1px solid #4267b2;
  background: none;
  margin-right: 25px;
}

.close-button {
  color: #5a667f;
  float: right;
  font-size: 16px;
  margin-top: 14px;
  margin-right: 20px;
}

.close-button:hover {
  font-weight: 900;
  cursor: pointer;
}

.invite-user-container-confirm {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 400px;
}
